.nav-height{
    max-height:100px;
}

.nav-bar{
    position: absolute;
    top:0;
    left:0;
    right:0;
    padding:10px 0; 
}

.nav-items{
    list-style: none;
    text-align: right;
}

.nav-item{
    display: inline-block;
    font-size:24px;
    padding: 0 10px;
}

.nav-item:last-child{
    border:none;
    margin-right:20px;
}

.top-nav-icon{
    width:45px;
    opacity:.8;
}

.top-nav-icon:hover{
    opacity:1;
    cursor:pointer;
    transition-duration: .4s ease-in-out;
}